SLACK_BOT_TOKEN=xoxb-xxx
SLACK_TEAM_ID=TXXX
SLACK_CHANNEL_ID=CXXX
SLACK_SIGNING_SECRET=xxx

API_ENDPOINT=http://localhost:5001/oogiri-bot/asia-northeast1/api

### Supabase ###
SUPABASE_URL=https://xxx.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyxxx

### Open AI ###
OPENAI_API_KEY=sk-proj-xxx
