SLACK_BOT_TOKEN=xoxb-xxx
SLACK_TEAM_ID=TXXX
SLACK_CHANNEL_ID=CXXX
SLACK_SIGNING_SECRET=xxx

API_ENDPOINT=http://localhost:5001/oogiri-bot/asia-northeast1/api

### Prisma ###
# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL="postgresql://xxx"
# Direct connection to the database. Used for migrations.
DIRECT_URL="postgres://xxx"

### Open AI ###
OPENAI_API_KEY=sk-proj-xxx
